{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='col-sm-12'>
<h2>{{ category.name }}</h2>
<hr>
{% for product in products_of_category %}
<div class='col-sm-4'>
<a href='{{ product.get_absolute_url }}'><img src='{{ product.image.url }}' style='width:100%; height: 300px;'></a>
<h4 class='text-center'>{{ product.title }}</h4>
<p class='text-center' style='font-size:25px;'>Цена: <strong>{{ product.price }} руб.</strong></p>
{% if request.user.is_authenticated %}
<p class='text-center'><a href='#' class='add_to_cart' data-slug='{{ product.slug }}'><button class='btn btn-danger'>Добавить в корзину</button></a></p>{% endif %}
{% if not request.user.is_authenticated %}<p class='text-center'>Заказывать товар могут только авторизированные пользователи. Пожалуйста, <a href='#'>войдите</a> или <a href='#'>зарегистрируйтесь</a></p>{% endif %}
</div>
{% endfor %}
</div>
<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function(){
	$('.add_to_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "add_to_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
			}
		})
	})
})
</script>
{% endblock content %}